html, body {
  font: normal 12px/1.5em tahoma, verdana, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #fff;
  color: #333;
  list-style: none;
  height: 100%; }

ul.legend {
  list-style: none; }

h1 {
  font: normal 12px/1.5em tahoma, verdana, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  font-size: 45px; }

h2 {
  font: normal 12px/1.5em tahoma, verdana, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #DFDFFF;
  font-size: 18px; }

h3 {
  font: normal 12px/1.5em tahoma, verdana, arial, helvetica, sans-serif;
  background: #D2DFFF;
  color: #000;
  border: 1px solid #7A9FFF;
  border-bottom: 1px solid #7A9FFF;
  margin: 0 0 10px 0;
  padding: 5px;
  font-size: 18px; }

h4 {
  font: normal 12px/1.5em tahoma, verdana, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  background: #D2DFFF;
  color: #000;
  border: 1px solid #7A9FFF;
  border-bottom: 1px solid #7A9FFF;
  padding: 5px;
  margin: 0 0 10px 0;
  font-size: 16px; }

h5 {
  font: normal 12px/1.5em tahoma, verdana, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff;
  font-size: 12px; }

h6 {
  font: normal 12px/1.5em tahoma, verdana, arial, helvetica, sans-serif;
  margin: 0;
  padding: 0;
  color: #333;
  background: #fff; }

h4 p {
  margin: 0;
  padding: 0;
  font-size: 80%; }

fieldset.field_box {
  width: 45%;
  margin: 0 10px;
  float: left;
  border: 1px solid #ddd; }
fieldset legend {
  color: #7A9FFF; }

form p {
  margin: 5px 0; }
form input, form textarea {
  padding: 2px;
  color: #333;
  border: 1px solid #ccc;
  background: #ddd; }
form span.date_start select {
  color: green; }
form span.date_end select {
  color: red; }

a {
  color: #00638B;
  text-decoration: underline; }
  a:hover {
    color: #8B638B; }
  a:visited {
    color: #6692CD;
    text-decoration: none/* line-through */; }
  a.btn-cancel {
    color: #333;
    padding: 3px 6px;
    line-height: 180%;
    font-size: 12px;
    background: #ddd;
    border: 1px solid #ccc; }

.pagination {
  background: #F1F1F1;
  border: 1px solid #E5E5E5;
  text-align: center;
  padding: 1em; }
  .pagination a, .pagination span {
    padding: .2em .3em; }
  .pagination span.disabled {
    color: #AAA; }
  .pagination span.current {
    font-weight: bold;
    background: transparent url(/images/circle.gif) no-repeat 50% 50%; }
  .pagination a {
    text-decoration: none;
    color: black; }
    .pagination a:hover, .pagination a:focus {
      text-decoration: underline; }

#header {
  background: #DFDFFF;
  height: 90px;
  border-bottom: 1px solid #A6BFFF; }
  #header h1 a {
    float: left;
    text-align: center;
    width: 200px;
    height: 60px;
    margin: 8px;
    padding: 0 0 10px 0;
    font-weight: bold; }
  #header p#login {
    float: right;
    margin: 10px 15px 0 0; }

#flash-error {
  font-size: 120%;
  font-weight: bold;
  with: 90%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 2px solid #FF7A9F;
  border-left-color: #FFD2BF;
  border-top-color: #FFD2BF;
  background: #FFA67F;
  color: #8B2A00; }

#flash-notice {
  font-size: 120%;
  font-weight: bold;
  with: 90%;
  padding: 10px;
  margin: 0 0 10px 0;
  border: 2px solid #BBFF9F;
  border-left-color: #E8FFBF;
  border-top-color: #E8FFBF;
  background: #D2FF7F;
  color: #5A8B00; }

#main {
  min-height: 430px;
  margin: 15px 270px 0 180px;
  padding: 5px 10px;
  background: #ffffff; }
  #main table {
    width: 100%; }
    #main table tr th {
      text-align: left;
      padding: 5px; }
    #main table tr td {
      font-size: 12px;
      padding: 6px 2px; }
  #main .main-box {
    border: 1px solid #ddd;
    margin: 0 0 20px 0; }
    #main .main-box h2 {
      border-bottom: 1px solid #ccc;
      border-right: 1px solid #ccc;
      padding: 5px 5px; }
    #main .main-box ul {
      padding: 5px; }
      #main .main-box ul li {
        font-size: 14px; }
        #main .main-box ul li a {
          text-decoration: none; }

p.submit_area {
  margin: 10px;
  float: right;
  clear: both; }

#sidebar {
  float: right;
  margin: 0px 10px 8px 0; }

#menubar {
  float: left;
  width: 180px;
  margin: 0; }
  #menubar ul {
    margin: 0;
    padding: 0 8px;
    list-style: none; }
    #menubar ul#menu li {
      text-transform: uppercase;
      margin: 0; }
      #menubar ul#menu li a {
        font-size: 12px;
        text-decoration: none;
        text-align: right;
        display: block;
        padding: 4px;
        color: #000;
        border: 0px solid #cdcdcd; }
        #menubar ul#menu li a.index {
          border-bottom: 1px solid #FF2300; }
          #menubar ul#menu li a.index:hover {
            border-right: 5px solid #FF2300; }
        #menubar ul#menu li a.projects {
          border-bottom: 1px solid #7FFF00; }
          #menubar ul#menu li a.projects:hover {
            border-right: 5px solid #7FFF00; }
        #menubar ul#menu li a.clients {
          border-bottom: 1px solid #00A5FF; }
          #menubar ul#menu li a.clients:hover {
            border-right: 5px solid #00A5FF; }
        #menubar ul#menu li a.users {
          border-bottom: 1px solid #FFA5FF; }
          #menubar ul#menu li a.users:hover {
            border-right: 5px solid #FFA5FF; }
    #menubar ul#submenu {
      margin-top: 35px; }
    #menubar ul#submenu li {
      text-transform: uppercase;
      margin: 1px 0 0 0; }
      #menubar ul#submenu li a {
        font-size: 12px;
        text-decoration: none;
        text-align: right;
        display: block;
        margin: 0;
        padding: 4px;
        color: #000;
        border: 0px solid #cdcdcd; }
        #menubar ul#submenu li a.projects {
          border-bottom: 1px solid #7FFF00; }
          #menubar ul#submenu li a.projects:hover {
            border-right: 5px solid #7FFF00; }
        #menubar ul#submenu li a.clients {
          border-bottom: 1px solid #00A5FF; }
          #menubar ul#submenu li a.clients:hover {
            border-right: 5px solid #00A5FF; }
        #menubar ul#submenu li a.users {
          border-bottom: 1px solid #FFA5FF; }
          #menubar ul#submenu li a.users:hover {
            border-right: 5px solid #FFA5FF; }

#comments .comment {
  border: 1px solid #ccc;
  padding: 2px;
  margin: 2px 0; }
  #comments .comment .date {
    font-size: 10px; }
  #comments .comment .user-name {
    font-size: 12px; }
#comments h5 {
  font-weight: normal; }
#comments p {
  font-size: 11px; }

#footer {
  font: normal 12px/1.5em tahoma, verdana, arial, helvetica, sans-serif;
  background: #DFDFFF;
  border-top: 1px solid #A6BFFF;
  position: relative;
  bottom: 0px;
  left: 2px;
  width: 99%;
  height: 60px;
  vertical-align: middle;
  padding: 5px;
  font-size: 12px;
  margin: 15px 0;
  text-align: right;
  clear: both;
  overflow: hidden; }

tr.light {
  color: #00638B;
  background: #E8ECFF; }
tr.dark {
  color: #00638B;
  background: #DADAFF; }

p#related {
  background: #ddd;
  border: 1px solid #ccc;
  width: 200px;
  text-align: left;
  padding: 2px 5px 5px 5px;
  font-size: 12px; }

.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table; }

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0; }
  #errorExplanation h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px;
    background-color: #c00;
    color: #fff; }
  #errorExplanation p {
    color: #333;
    margin-bottom: 0;
    padding: 5px; }
  #errorExplanation ul li {
    font-size: 12px;
    list-style: square; }
