html, body {
	font-family: tahoma, verdana, arial, helvetica, sans-serif;
	color: #333;
	background: #fff;
}
* {
	margin:0;
	padding:0;
	list-style: none;
}
form p {
	margin: 5px 0;
}
a {
	color: #219AEE;
	text-decoration: none;
}
a:hover {
	color: #779AEE;
}
h1 {
	font-size: 45px;
}
h2 {
	font-size: 18px;
}
#header {
	background: #ccc;
	height: 90px;
}
#header h1 a {
	float: left;
	width: 200px;
	height: 60px;
}
#header p#login {
	float: right;
	margin: 10px 15px 0 0;
}
#flash-notice {
	color: #008B00;
	border: 1px solid #008B00;
	background: #BFFFBF;
	padding: 4px 10px;
	margin: 0 0 10px 0;
}
#main {
	margin: 15px 220px 0 220px;
}
#main .main-box {
	border: 1px solid #ddd;
	margin: 0 0 20px 0;
	color: #999;
}
#main .main-box h2 {
	/* color: #00A5FF;
	background: #DADAFF; */
	border-bottom: 1px solid #ccc;
	border-right: 1px solid #ccc;
	padding: 5px 5px;
}
#main .main-box ul {
	padding: 5px;
}
#main .main-box ul li {
	font-size: 14px;
}
#main .main-box ul li a {
	text-decoration: none;
}
#sidebar {
	float: right;
	width: 200px;
	margin: 15px 0 10px 0;
}
#menubar {
	float: left;
	width: 200px;
	margin: 15px 0 0 10px;
}
#submenu {
	margin-top: 40px;
}
#menubar ul#menu li, #menubar ul#submenu li {
	text-transform: uppercase;
	margin: 1px 0 0 0;
}
#menubar ul#menu li a, #menubar ul#submenu li a {
	font-size: 12px;
	text-decoration: none;
	text-align: right;
	display: block;
	padding: 4px;
	color: #000;
	border: 0px solid #cdcdcd;
}
/* link index */
#menubar ul#menu li a.index {
	border-bottom: 1px solid #FF2300;
	/* background: #CD0000; */
}
#menubar ul#menu li a.index:hover {
	border-right: 5px solid #FF2300;
}
/* link projects */
#menubar ul#submenu li a.projects {
/*	border-bottom: 1px solid #7FFF00; */
}
#menubar ul#menu li a.projects, #menubar ul#submenu li a.projects {
	border-bottom: 1px solid #7FFF00;
	/* background: #3FCD00; */
}
#menubar ul#menu li a.projects:hover, #menubar ul#submenu li a.projects:hover {
	border-right: 5px solid #7FFF00;
}
/* link clients */
#menubar ul#menu li a.clients, #menubar ul#submenu li a.clients {
	border-bottom: 1px solid #00A5FF;
	/* background: #0066CD; */
}
#menubar ul#menu li a.clients:hover, #menubar ul#submenu li a.clients:hover {
	border-right: 5px solid #00A5FF;
}
/* link users */
#menubar ul#menu li a.users {
	border-bottom: 1px solid #FFA5FF;
	/* background: #CD66CD; */
}
#menubar ul#menu li a.users:hover {
	border-right: 5px solid #FFA5FF;
}
#footer {
	margin: 15px 0 0 0;
	text-align: center;
	clear: both;
}

.main-box table {
	width: 100%;
}
.main-box table tr th {
	padding: 5px;
}
.main-box table tr td {
	font-size: 12px;
	padding: 6px 2px;
}
tr.light {
	color: #00638B;
	background: #E8ECFF;
}
tr.dark {
	color: #00638B;
	background: #DADAFF;
}





/***** CONFIGURAÇÃO DOS ERROS (Padrao Rails) *****/
.fieldWithErrors {
  padding: 2px;
  background-color: red;
  display: table;
}

#errorExplanation {
  width: 400px;
  border: 2px solid red;
  padding: 7px;
  padding-bottom: 12px;
  margin-bottom: 20px;
  background-color: #f0f0f0;
}

#errorExplanation h2 {
  text-align: left;
  font-weight: bold;
  padding: 5px 5px 5px 15px;
  font-size: 12px;
  margin: -7px;
  background-color: #c00;
  color: #fff;
}

#errorExplanation p {
  color: #333;
  margin-bottom: 0;
  padding: 5px;
}

#errorExplanation ul li {
  font-size: 12px;
  list-style: square;
}

